<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/0e376a18-6cc7-404b-bb84-654447fe8c71/resourcegroups/MyRsrcGrp/providers/Microsoft.ContainerRegistry/registries/devopswebapps7m</ResourceId>
    <ResourceName>devopswebapps7m</ResourceName>
    <ResourceGroup>MyRsrcGrp</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://devopswebapps7m.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2c59fb6b-01a5-4e25-beb2-e6caec31c38b</ProjectGuid>
  </PropertyGroup>
</Project>